*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body{
  height:100%;
  margin:0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  color: #666;
}

.pimg1{
  min-height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.pimg2{
  min-height: 400px;
 position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pimg3{
  min-height: 400px;
   position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.textBg{
 
  position:absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 50px;
  letter-spacing: 8px;
  text-transform: uppercase;
 
  padding:40px;

}

.section-light{
  width: 100%;
  padding: 60px;
  text-align: center;
  background-color: #313534;
  color: rgb(230, 221, 221);
}

.txtbg{
  position:absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 50px;
  letter-spacing: 8px;
  text-transform: uppercase;
  
  padding:40px;


}

.section-dark{
  
  padding: 40px;
  text-align: center;
  background-color: #666;
  
  color: white;
}

.text-tg{
  position:absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 50px;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding:40px;

}

.section-bg{
  padding: 40px;
  text-align: center;
  background-color: #666;
  
  color: white;

}